{% extends "head.html" %}
{% block body %}

<script>
    function validateForm() {
        var x = document.forms["sign"]["name"].value;
        if (x == null || x == "") {
            alert("请完整填写表单");
            return false;
        }
        var x = document.forms["sign"]["pwd"].value;
        if (x == null || x == "") {
            alert("请完整填写表单");
            return false;
        }
    }
</script>

<div class="mdui-row mdui-center">
    <div class="mdui-row mdui-row-gapless">
        <div class="mdui-col-xs-1  mdui-col-sm-3 mdui-col-md-4"></div>
        <div class="mdui-col-xs-10 mdui-col-sm-6 mdui-col-md-4">
            <div class="mdui-card center">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">登录</div>
                    <div class="mdui-card-primary-subtitle">Sign in - 自动注册</div>
                </div>
                <form name='sign' action="" onsubmit="return validateForm()" method="post">
                    <div class="mdui-card-actions">
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">User Name</label>
                            <input class="mdui-textfield-input" name="name" type="text">
                        </div>
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">Password</label>
                            <input class="mdui-textfield-input" name="pwd" type="password">
                        </div>
                        <button name="submit" value="signin" class="mdui-btn mdui-ripple">确认</button>
                        <button name="submit" value="signup" class="mdui-btn mdui-ripple" mdui-dialog="{target: '#signup'}">注册</button>
                    </div>

                    <div class="mdui-dialog" id="signup">
                        <div class="mdui-tab mdui-tab-full-width" id="example4-tab">
                          <a href="#example4-tab1" class="mdui-ripple">web</a>
                          <a href="#example4-tab2" class="mdui-ripple">shopping</a>
                          <a href="#example4-tab3" class="mdui-ripple">videos</a>
                        </div>
                        <div id="example4-tab1" class="mdui-p-a-2">
                          <p>tab 1</p>
                          <p>tab 1</p>
                          <p>tab 1</p>
                          <p>tab 1</p>
                          <p>tab 1</p>
                          <p>tab 1</p>
                        </div>
                        <div id="example4-tab2" class="mdui-p-a-2">
                          <p>tab 2</p>
                          <p>tab 2</p>
                          <p>tab 2</p>
                          <p>tab 2</p>
                          <p>tab 2</p>
                          <p>tab 2</p>
                        </div>
                        <div id="example4-tab3" class="mdui-p-a-2">
                          <p>tab 3</p>
                          <p>tab 3</p>
                          <p>tab 3</p>
                          <p>tab 3</p>
                          <p>tab 3</p>
                          <p>tab 3</p>
                        </div>
                      </div>

                </form>
            </div>
        </div>
        <div class="mdui-col-xs-1  mdui-col-sm-3 mdui-col-md-4"></div>
    </div>
</div>



{% endblock %}