{% extends "head.html" %}
{% block body %}

<script>
    function validateForm() {
        var x = document.forms["sign"]["name"].value;
        if (x == null || x == "") {
            alert("请完整填写表单");
            return false;
        }
        var x = document.forms["sign"]["pwd"].value;
        if (x == null || x == "") {
            alert("请完整填写表单");
            return false;
        }
    }
</script>

<div class="mdui-row mdui-center">
    <div class="mdui-row mdui-row-gapless">
        <div class="mdui-col-xs-1  mdui-col-sm-3 mdui-col-md-4"></div>
        <div class="mdui-col-xs-10 mdui-col-sm-6 mdui-col-md-4">
            <div class="mdui-card center">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">登录</div>
                    <div class="mdui-card-primary-subtitle">Sign in - 自动注册</div>
                </div>
                <form name='sign' action="" onsubmit="return validateForm()" method="post">
                    <div class="mdui-card-actions">
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">名称 电话 邮箱</label>
                            <input class="mdui-textfield-input" name="name" type="text">
                        </div>
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">密码</label>
                            <input class="mdui-textfield-input" name="pwd" type="password">
                        </div>
                        <button name="submit" value="signin" class="mdui-btn mdui-ripple">确认</button>
                        <a class="mdui-btn mdui-ripple" mdui-dialog="{target: '#signup'}">注册</a>
                    </div>

                    <div class="mdui-dialog" id="signup">
                        <div class="mdui-container">
                            <div class="botp"></div>
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">补全你的信息</div>
                                <div class="mdui-card-primary-subtitle"></div>
                            </div>
                            <div class="mdui-card-actions">
                                <div class="mdui-textfield">
                                    <label class="mdui-textfield-label">你的电话</label>
                                    <input class="mdui-textfield-input" name="phone" type="text">
                                </div>
                                <div class="mdui-textfield">
                                    <label class="mdui-textfield-label">你的邮箱</label>
                                    <input class="mdui-textfield-input" name="email" type="email">
                                </div>
                                <button name="submit" value="signup" class="mdui-btn mdui-ripple">确认</button>
                                <div class="botp"></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="mdui-col-xs-1  mdui-col-sm-3 mdui-col-md-4"></div>
    </div>
</div>



{% endblock %}